<?xml version='1.0' encoding='utf-8'?>
<widget id="im.dnn.geoar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GeoAR</name>
    <description>
        Pruebas de la aplicación de realidad aumentada para geo-ubicaciones con Wikitude y Apache Cordova
    </description>
    <author email="im@danielgarcia.me" href="http://danielgarcia.me">
        Daniel García - @dannegm
    </author>
    <content src="index.html" />
    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="DisallowOverscroll" value="true" />

    <access origin="http://127.0.0.1*" />
    <access origin="*" />

    <gap:plugin name="org.apache.cordova.geolocation" />
</widget>
